@layer theme, base, antd, components, utilities;

@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-primary: var(--primary);
  --color-primary-bg: var(--color-primary-bg);
  --color-submenu-bg: var(--color-submenu-bg);
}

:root {
  --primary: oklch(0.623 0.214 259.815);
  --color-primary-bg: oklch(0.3087 0.0195 229.78);
  --color-submenu-bg: oklch(0.281 0.0177 227.38);
}

.dark {
  --primary: oklch(0.546 0.245 262.881);
  --color-primary-bg: oklch(0.3087 0.0195 229.78);
  --color-submenu-bg: oklch(0.281 0.0177 227.38);
}
